.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler{
    border:0;
    z-index: 1000;
}
.navbar-nav{
    margin-top: -40px;
    border-radius: 5px;
    background: white;
    max-width: 500px;
    min-width: 300px;
    height: 80vh;
    align-items: start;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(29, 29, 29);
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(73, 73, 73);
}