/* body{
    background: black;
} */
#accordionEducation{
    padding: 100px 0px 50px 0px;
}
/* earist -------------------------------------------------*/
.earist{
    background-color: #FF6A6A;
    color: white;
    /* height: 300px; */
    min-height:300px;
}
#earist-image{
    background-image:url('../images/earist-school.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.earist h6{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.earist h4{
    font-family: 'Comfortaa', sans-serif;
}
@media (min-width:768px) {
    .earist{
        height:300px;
        /* padding-top:100px; */
    }
}
/* aguinaldo-shs -------------------------------------------------*/
.aguinaldo-shs{
    background-color: #3B28AD;
    color: white;
    /* padding-top:100px; */
    min-height:300px;
}
#aguinaldo-shs-image{
    background-image:url('../images/aguinaldo-school.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
}
.aguinaldo-shs h6{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.aguinaldo-shs h4{
    font-family: 'Comfortaa', sans-serif;

}
@media (min-width:768px) {
    .aguinaldo-shs{
        min-height:300px;
    }
}
/* aguinaldo-shs -------------------------------------------------*/
.arellano{
    background-color: #262160;
    color: white;
    min-height:300px;
}
#arellano-image{
    background-image:url('../images/arellano-plaridel-school.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height:300px;
}
.arellano h6{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.arellano h4{
    font-family: 'Comfortaa', sans-serif;

}
@media (min-width:768px) {
    .arellano{
        min-height:300px;
    }
}
/* aguinaldo-shs -------------------------------------------------*/
.aguinaldo-elem-hs{
    background-color: #3B28AD;
    color: white;
    min-height:300px;
}
#aguinaldo-elem-hs-image{
    background-image:url('../images/aguinaldo-school.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height:300px;
}
.aguinaldo-elem-hs h6{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.aguinaldo-elem-hs h4{
    font-family: 'Comfortaa', sans-serif;

}
@media (min-width:768px) {
    .aguinaldo-elem-hs{
        min-height:300px;
    }
}