.what-i-do{
    background-color: var(--lightbluegray);
    color: white;
    padding:50px 0;
}

.what-i-do > div  h6{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.what-i-do > div h2{
    font-family: 'Comfortaa', sans-serif;
}
/* latest projects button */
.btn-latest-project{
    color: white;
    background:var(--darkbluegray);
}
/* project-images------------------------------- */
.project-images-container{
    position: relative;
    min-height: 700px;
    background-color: var(--lightbluegray);
}
#projectImage1{
    position: absolute;
    top:50%;
    left:55%;
    transform: translate(-50%,-50%);
    max-width: 300px;
    z-index: 205;
}
#projectImage2{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
     max-width:300px;
     z-index: 206;
}
#projectImage3{
    position: absolute;
    top:0%;
    left:100%;
    transform: translate(-50%,-50%);
     max-width:200px;
    
}
#projectImage4{
    position: absolute;
    top:20%;
    left:45%;
    transform: translate(-50%,-50%);
     max-width:300px;
     z-index: 200;
}
#projectImage5{
    position: absolute;
    top:80%;
    left:80%;
    transform: translate(-50%,-50%);
     max-width:250px;
}
@media (min-width:768px) {
    .project-images-container{
    
        min-height: 700px;
        max-height: 750px;
    }
    #projectImage1{
        top:50%;
        left:50%;
        max-width: 450px;
        z-index: 205;
    }
    #projectImage2{
        top:20%;
        left: 25%;
         max-width:350px;
         z-index: 200;
    }
    #projectImage3{
        top:20%;
        left:75%;
         max-width:350px;
    }
    #projectImage4{
        top:80%;
        left:25%;
         max-width:350px;
         z-index: 200;
    }
    #projectImage5{
        top:80%;
        left:75%;
        max-width:350px;
    }
}
@media (min-width:992px) {
    .project-images-container{
       
        min-height: 700px;
        max-height: 750px;
    }
    #projectImage1{
        top:50%;
        left:50%;
        max-width: 550px;
        z-index: 205;
    }
    #projectImage2{
        top:30%;
        left: 25%;
         max-width:450px;
         z-index: 200;
    }
    #projectImage3{
        top:23%;
        left:75%;
         max-width:350px;
    }
    #projectImage4{
        top:80%;
        left:25%;
         max-width:350px;
         z-index: 200;
    }
    #projectImage5{
        top:70%;
        left:75%;
        max-width:450px;
    }
}