.who-am-i{
    height: 100vh;
}
.who-am-i > div > div:nth-child(1){
    background-image:url('../images/jerwin-on-laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
.who-am-i > div > div:nth-child(2){
    background-color: var(--lightbluegray);
    color: white;
    height: 50vh;
}
.who-am-i > div > div:nth-child(2) h6{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.who-am-i > div > div:nth-child(2) h2{
    font-family: 'Comfortaa', sans-serif;
}
@media (min-width:576px) {
    .who-am-i{
        height: 500px;
    }
    .who-am-i > div > div:nth-child(1){
        height: 100%;
    }
    .who-am-i > div > div:nth-child(2){
        height: 100%;
    }
}
.contact-links{
    background: var(--darkbluegray);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}