.landing-page{
    height: 600px;
    background: var(--lightbluegray);
}
.landing-page h1{
    font-family: "Comfortaa";
    color: white;
}
.landing-page a{
color: white;
}
/* #profile-img-bg circle {
    fill: red;
    stroke: red;
} */